{{ with .Site.Params.Ads -}}
<div id="34975-28" style="margin: 1rem 0 -1rem 0; text-align: center">
    <script src="//ads.themoneytizer.com/s/gen.js?type=28"></script>
    <script src="//ads.themoneytizer.com/s/requestform.js?siteId=34975&formatId=28"></script>
</div>
{{- end }}

<footer class="post-footer">
    <h6>❓ Hai qualche dubbio?</h6>
    <p>
        Vieni a trovarci sul <a href="https://forum.fibra.click" target="_blank">forum di FibraClick</a>!
        <br>
        Apri una discussione e ti aiuteremo :)
    </p>

    <h6>👀 Hai trovato un errore o vuoi migliorare questa pagina?</h6>
    <p><a href="https://github.com/botfactoryit/fibraclick-wiki/blob/master/content/{{ .Page.File.Path }}" target="_blank">Modificala su GitHub</a>, oppure scrivici a <a
            href="mailto:info@fibra.click?subject=Wiki: {{ .Page.Title }}">info@fibra.click</a>.</p>
</footer>
