{{ partial "top.html" . }}

    <article class="post" itemscope itemtype="http://schema.org/Article">
      <header class="post-header">
        <h1 class="post-title" itemprop="name">{{ .Title }}</h1>
        <span class="post-line"></span>
        <div class="post-date">
          Aggiornato il
          <time datetime="{{ .Lastmod.Format "2006-01-02 15:04:05 MST" }}" itemprop="dateModified" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">
            {{ .Lastmod.Format "02/01/2006" }}
          </time>
          {{ if .Params.authors -}}
          - Scritto da
          {{ $authorLen := len .Params.authors -}}
          <span itemprop="author">
            {{- range $k, $v := .Params.authors -}}
            {{- $v -}}
            {{- if lt $k (sub $authorLen 1) -}}, {{ end -}}
            {{- end -}}
          </span>
          {{ end }}

          {{ if gt .ReadingTime 1 }}<br>{{ .ReadingTime }} minuti di lettura{{ end }}

          {{ with .Params.categories }}
          <ul class="categories">
            {{ range . -}}
            <li><a href="/c/{{ . | urlize }}">{{ . }}</a></li>
            {{- end }}
          </ul>
          {{ end }}
          
        </div>
      </header>

      <div style="margin-bottom: 2rem">
        <script>
          if (Math.random() > 0.5) {
            if (window.matchMedia('screen and (min-width: 760px)').matches) {
              document.write('<scr'+'ipt language="javascript" src="https://track.adform.net/adfscript/?bn=30805929;click=https://www.awin1.com/awclick.php?mid=9773&id=548639&gid=344669&linkid=2227930&p="></scr'+'ipt><img src="https://www.awin1.com/cshow.php?s=2227930&v=9773&q=344669&r=548639" style="display: none" border="0" />');
            }
            else {
              document.write('<scr'+'ipt language="javascript" src="https://track.adform.net/adfscript/?bn=30805937;click=https://www.awin1.com/awclick.php?mid=9773&id=548639&gid=344669&linkid=2227904&p="></scr'+'ipt><img src="https://www.awin1.com/cshow.php?s=2227904&v=9773&q=344669&r=548639" style="display: none" border="0" />');
            }
          }
          else {
            document.write('<div id="34975-1"><scr'+'ipt src="//ads.themoneytizer.com/s/gen.js?type=1"></scr'+'ipt><scr'+'ipt src="//ads.themoneytizer.com/s/requestform.js?siteId=34975&formatId=1"></scr'+'ipt></div>');
          }
        </script>
      </div>

      <div class="post-content" itemprop="articleBody">
        {{ .Content }}
      </div>

    </article>

{{ partial "bottom.html" . }}
