      <footer class="site-footer">
        🚩 I contenuti di questa pagina sono pubblicati con licenza <a href="https://creativecommons.org/licenses/by/4.0/deed.it" target="_blank">CC BY 4.0</a> (se copi, indica la fonte).
        <br>
        🔒 <a href="/privacy.pdf">Informativa privacy</a> - <a href="/cookie">Informativa cookie</a> - <a href="/termini.pdf">Termini e condizioni</a> - <a href="/disclaimer">Disclaimer</a>
        <br>
        ❓ P.I. IT16712091004 - <a href="mailto:info@fibraclick.it">Contattaci</a>
      </footer>
    </div>
  </body>
</html>
