      <footer class="site-footer">
        🚩 I contenuti di questa pagina sono pubblicati con licenza <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.it" target="_blank">CC BY-ND 4.0</a>
        <br>
        🔒 <a href="/privacy">Privacy</a> - <a href="/disclaimer">Disclaimer</a> - <a href="mailto:info@fibra.click">Contattaci</a>
      </footer>
    </div>

    {{ with .Site.Params.ads -}}
    <!-- Quantcast Tag -->
    <script type="text/javascript">
      var _qevents = _qevents || [];

      (function () {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
      })();

      _qevents.push({
        qacct: "p-ACFwDZ6eVNdJR"
      });
    </script>
    
    <noscript>
      <div style="display:none;">
        <img src="//pixel.quantserve.com/pixel/p-ACFwDZ6eVNdJR.gif" border="0" height="1" width="1" alt="Quantcast" />
      </div>
    </noscript>
    <!-- End Quantcast tag -->
    {{- end }}
  </body>
</html>
