<script type="text/javascript">
    var isPolicy = window.location.pathname.startsWith('/cookie');
    window.klaroConfig = {
        hideDeclineAll: true,
        acceptAll: true,
        groupByPurpose: false,
        noticeAsModal: !isPolicy,
        services: [
            {
                name: 'technical',
                title: 'Erogazione del servizio',
                purposes: ['Tecniche'],
                required: true
            },
            {
                name: 'analytics',
                title: 'Analisi del traffico',
                purposes: ['Statistiche']
            },
            {
                name: 'ads-basic',
                title: 'Annunci di base',
                purposes: ['Pubblicità']
            },
            {
                name: 'ads-personalized',
                title: 'Annunci personalizzati',
                purposes: ['Pubblicità']
            }
        ],
        translations: {
            it: {
                privacyPolicyUrl: '/cookie/',
                poweredBy: 'Realizzato con Klaro',
                save: 'Salva preferenze',
                acceptAll: 'Accetta tutto',
                acceptSelected: 'Accetta selezionati',
                ok: 'Accetta',
                consentModal: {
                    title: 'Consensi privacy',
                    description: 'Qua puoi personalizzare i consensi per l\'uso dei cookie su questo sito web.'
                },
                consentNotice: {
                    learnMore: 'Personalizza',
                    description: 'Ciao! Vorremmo chiederti il consenso per utilizzare i cookie per raccogliere statistiche e mostrare pubblicità personalizzata. I nostri fornitori riceveranno informazioni sul modo in cui utilizzi il nostro sito. Puoi modificare le tue scelte in qualsiasi momento nella pagina privacy.',
                    changeDescription: 'Ci sono stati cambiamenti rispetto alla tua ultima visita, per favore rinnova il consenso.'
                },
                privacyPolicy: {
                    name: 'informativa sulla privacy',
                    text: 'Per saperne di più, consulta la nostra {privacyPolicy}.'
                },
                service: {
                    purpose: 'finalità',
                    purposes: 'finalità',
                    disableAll: {
                        title: 'Attiva o disattiva tutti i servizi',
                        description: 'Utilizza questo pulsante per attivare o disattivare tutti i servizi.'
                    },
                    required: {
                        title: 'Obbligatorio',
                        description: 'Questa categoria di cookie è obbligatoria e non può essere disabilitata.'
                    }
                },
                technical: {
                    description: 'Utilizziamo cookie tecnici per erogare il servizio e per questioni di sicurezza. I cookie tecnici non prevedono profilazione dell\'utente e non possono essere disabilitati.'
                },
                analytics: {
                    description: 'Utilizziamo il servizio di terze parti Google Analytics per tracciare le visite degli utenti sul sito. Questo ci permette di sapere quante persone visitano il sito.'
                },
                'ads-basic': {
                    description: 'Utilizziamo il servizio Google AdSense per mostrare annunci pubblicitari sul forum basati sul contesto. I cookie non vengono usati per la personalizzazione ma per questioni di sicurezza e per la generazione di rapporti aggregati.'
                },
                'ads-personalized': {
                    description: 'Con il tuo consenso, Google e i suoi fornitori raccoglieranno dei dati per fornire annunci più pertinenti creando un profilo basato sulla tua attività di navigazione. La lista dei fornitori è riportata nell\'informativa sulla privacy.'
                }
            }
        }
    };
</script>

{{ $js := resources.Get "js/klaro.min.js" | fingerprint -}}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

<style type="text/css">
    .klaro .cookie-notice a {
        border-bottom: 0;
    }

    .klaro .cm-required {
        padding-left: 0.3rem !important;
    }
</style>
