<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Permalink }}
    <link rel="canonical" href="{{ . }}">
    <meta property="og:url" content="{{ . }}">
    {{ end }}

    {{- if .Params.hidden -}}
    <meta name="robots" value="noindex">
    {{- end }}

    {{ if eq .Permalink "" -}}
    <title>Pagina non trovata - {{ .Site.Title }}</title>
    <meta property="og:title" content="Pagine non trovata - {{ .Site.Title }}">
    {{- else if .IsHome -}}
    <title>{{ .Site.Params.homeTitle }}</title>
    <meta property="og:title" content="{{ .Site.Params.homeTitle }}">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    {{- else if eq .Kind "term" -}}
    <title>Articoli in "{{ .Title }}" - {{ .Site.Title }}</title>
    <meta property="og:title" content="Articoli in &quot;{{ .Title }}&quot; - {{ .Site.Title }}">
    {{- else -}}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    <meta property="og:type" content="article">
    <meta name="description" content="{{ .Description }}">
    <meta property="og:description" content="{{ .Description }}">
    {{- if not .PublishDate.IsZero }}
    <meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">
    {{- else if not .Date.IsZero }}
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">
    {{ end }}
    {{- if not .Lastmod.IsZero }}
    <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">
    {{ end }}
    {{- end }}

    {{ if not (isset .Params "image") }}
    <meta property="og:image" content="{{ "cover-fb.jpg" | absURL }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@FibraClick">
    <meta name="twitter:image" content="{{ "cover-tw.jpg" | absURL }}">
    {{ else }}
    <meta property="og:image" content="{{ .Params.image | absURL }}">
    <meta property="og:image:width" content="{{ (imageConfig (printf "/static%s" .Params.image)).Width }}">
    <meta property="og:image:height" content="{{ (imageConfig (printf "/static%s" .Params.image)).Height }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@FibraClick">
    <meta name="twitter:image" content="{{ .Params.image | absURL }}">
    {{ end }}

    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:locale" content="{{ .Site.LanguageCode }}">

    {{ $styles := resources.Get "scss/main.scss" | toCSS (dict "targetPath" "css/main.css" "enableSourceMap" true) | minify | fingerprint -}}
    <link rel="stylesheet"
          href="{{ $styles.RelPermalink }}"
          integrity="{{ $styles.Data.Integrity }}"
          media="screen">

    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#3fc160">
    <meta name="msapplication-TileColor" content="#3fc160" />
    <meta name="theme-color" content="#ffffff">

    {{ with .Site.Params.Analytics -}}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', '{{ . }}');
      gtag('config', '{{ . }}', { 'anonymize_ip': true });
    </script>
    {{- end }}

    {{ with .Site.Params.ads -}}
    <!-- Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
    <script type="text/javascript" async=true>
      (function () {
        var host = window.location.hostname;
        var element = document.createElement('script');
        var firstScript = document.getElementsByTagName('script')[0];
        var url = 'https://quantcast.mgr.consensu.org'
          .concat('/choice/', 'ACFwDZ6eVNdJR', '/', host, '/choice.js')
        var uspTries = 0;
        var uspTriesLimit = 3;
        element.async = true;
        element.type = 'text/javascript';
        element.src = url;

        firstScript.parentNode.insertBefore(element, firstScript);

        function makeStub() {
          var TCF_LOCATOR_NAME = '__tcfapiLocator';
          var queue = [];
          var win = window;
          var cmpFrame;

          function addFrame() {
            var doc = win.document;
            var otherCMP = !!(win.frames[TCF_LOCATOR_NAME]);

            if (!otherCMP) {
              if (doc.body) {
                var iframe = doc.createElement('iframe');

                iframe.style.cssText = 'display:none';
                iframe.name = TCF_LOCATOR_NAME;
                doc.body.appendChild(iframe);
              } else {
                setTimeout(addFrame, 5);
              }
            }
            return !otherCMP;
          }

          function tcfAPIHandler() {
            var gdprApplies;
            var args = arguments;

            if (!args.length) {
              return queue;
            } else if (args[0] === 'setGdprApplies') {
              if (
                args.length > 3 &&
                args[2] === 2 &&
                typeof args[3] === 'boolean'
              ) {
                gdprApplies = args[3];
                if (typeof args[2] === 'function') {
                  args[2]('set', true);
                }
              }
            } else if (args[0] === 'ping') {
              var retr = {
                gdprApplies: gdprApplies,
                cmpLoaded: false,
                cmpStatus: 'stub'
              };

              if (typeof args[2] === 'function') {
                args[2](retr);
              }
            } else {
              queue.push(args);
            }
          }

          function postMessageEventHandler(event) {
            var msgIsString = typeof event.data === 'string';
            var json = {};

            try {
              if (msgIsString) {
                json = JSON.parse(event.data);
              } else {
                json = event.data;
              }
            } catch (ignore) { }

            var payload = json.__tcfapiCall;

            if (payload) {
              window.__tcfapi(
                payload.command,
                payload.version,
                function (retValue, success) {
                  var returnMsg = {
                    __tcfapiReturn: {
                      returnValue: retValue,
                      success: success,
                      callId: payload.callId
                    }
                  };
                  if (msgIsString) {
                    returnMsg = JSON.stringify(returnMsg);
                  }
                  event.source.postMessage(returnMsg, '*');
                },
                payload.parameter
              );
            }
          }

          while (win) {
            try {
              if (win.frames[TCF_LOCATOR_NAME]) {
                cmpFrame = win;
                break;
              }
            } catch (ignore) { }

            if (win === window.top) {
              break;
            }
            win = win.parent;
          }
          if (!cmpFrame) {
            addFrame();
            win.__tcfapi = tcfAPIHandler;
            win.addEventListener('message', postMessageEventHandler, false);
          }
        };

        makeStub();

        var uspStubFunction = function () {
          var arg = arguments;
          if (typeof window.__uspapi !== uspStubFunction) {
            setTimeout(function () {
              if (typeof window.__uspapi !== 'undefined') {
                window.__uspapi.apply(window.__uspapi, arg);
              }
            }, 500);
          }
        };

        var checkIfUspIsReady = function () {
          uspTries++;
          if (window.__uspapi === uspStubFunction && uspTries < uspTriesLimit) {
            console.warn('USP is not accessible');
          } else {
            clearInterval(uspInterval);
          }
        };

        if (typeof window.__uspapi === 'undefined') {
          window.__uspapi = uspStubFunction;
          var uspInterval = setInterval(checkIfUspIsReady, 6000);
        }
      })();
    </script>
    <!-- End Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
    {{- end }}
    
    <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('article h2[id], article h3[id], article h4[id]').forEach(function(element) {
        element.insertAdjacentHTML('beforeend', '<a href="#' + element.id + '" class="hanchor" ariaLabel="Ancora">🔗</a>');
      });
    });
    </script>

    {{ if and (.Section) (eq .Section "posts") }}
    {{ $js := resources.Get "js/propaganda.js" |  minify | fingerprint -}}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
    {{- end }}

    {{- range .Params.js }}
    {{ $js := resources.Get (printf "js/%s" .) |  minify | fingerprint -}}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
    {{- end }}

    {{- range .Params.rawjs }}
    <script src="/js/{{ . }}"></script>
    {{- end }}

    {{- range .Params.scss }}
    {{ $styles := resources.Get (printf "scss/%s" .) | toCSS (dict "targetPath" (printf "css/%s.css" (replace . ".scss" ".css")) "enableSourceMap" true) | minify | fingerprint -}}
    <link rel="stylesheet"
          href="{{ $styles.RelPermalink }}"
          integrity="{{ $styles.Data.Integrity }}"
          media="screen">
    {{- end }}

    {{- with .Params.katex }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css"
      integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
    
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"
      integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
    
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js"
      integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"
      onload=""></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var elems = document.getElementsByClassName('katex-container');
        for (let i = 0; i < elems.length; i++) {
          renderMathInElement(elems[i], {
            delimiters: [
              { left: "$$", right: "$$", display: true },
              { left: "$", right: "$", display: false },
            ]
          });
        }
      });
    </script>
    {{- end }}
  </head>

  <body>
    <header class="site-header">
      <div class="desktop">
        <a href="/">
          <img class="logo" alt="Logo FibraClick" src="{{ (resources.Get "logo.svg" | fingerprint).RelPermalink }}">
        </a>

        <nav>
          <a target="_blank" href="https://forum.fibra.click" class="hl">Vai al forum</a>
          <a href="{{ relref . "/link-utili.md" }}">Link utili</a>
          <a href="{{ relref . "/newsletter" }}">Newsletter</a>
          
          <span class="separator">|</span>
          
          <div class="social">
            <a href="https://t.me/FibraClick" target="_blank">
              <img src="/social-telegram.svg">
            </a>
            <a href="https://twitter.com/FibraClick" target="_blank">
              <img src="/social-twitter.svg">
            </a>
            <a href="https://www.facebook.com/FibraClick/" target="_blank">
              <img src="/social-facebook.svg">
            </a>
          </div>
        </nav>
      </div>
      
      <div class="mobile">
        <a href="/" class="logo-wrapper">
          <img class="logo" alt="Logo FibraClick" src="{{ (resources.Get "logo.svg" | fingerprint).RelPermalink }}">
        </a>

        <input id="burger" type="checkbox" />
        
        <label for="burger">
          <span></span>
          <span></span>
          <span></span>
        </label>
      
        <nav>
          <ul>
            <li><a class="hl" href="https://forum.fibra.click">Vai al forum</a></li>
            <li><a href="{{ relref . "/link-utili.md" }}">Link utili</a></li>
            <li><a href="{{ relref . "/newsletter" }}">Newsletter</a></li>
            <li class="social">
              <a href="https://t.me/FibraClick" target="_blank">
                <img src="/social-telegram.svg">
              </a>
              <a href="https://twitter.com/FibraClick" target="_blank">
                <img src="/social-twitter.svg">
              </a>
              <a href="https://www.facebook.com/FibraClick/" target="_blank">
                <img src="/social-facebook.svg">
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="main" class="container">
