{{ partial "top.html" . }}

<article>

    <section>
        <h1>Pagina non trovata</h1>

        <p>
            Questa pagina non esiste o non è più qui 🤔
        </p>

        <p>
            Se vuoi puoi <a href="/">andare alla homepage</a> per sfogliare il sito alla ricerca del contenuto.
        </p>

        <p>
            Se ritieni si tratti di un errore, contattaci a <a href="mailto:info@fibra.click">info@fibra.click</a>.
        </p>

    </section>
    
</article>

<hr>

{{ partial "bottom.html" . }}
