{{ partial "top.html" . }}

    <article class="post">
      <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
      </header>

      <div class="post-content">
        {{ .Content }}

        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="https://click.us20.list-manage.com/subscribe/post?u=43e7f0aa512956e35c8d37395&amp;id=8d73a21b79"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
            novalidate>
            <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Il tuo indirizzo email..."
                required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_43e7f0aa512956e35c8d37395_8d73a21b79" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="ISCRIVITI" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </div>
          </form>
        </div>
        
        <!--End mc_embed_signup-->
        
        <section class="posts">
          <h1>Archivio</h1>
          <ol>
            {{ range (where .Pages "Type" "newsletter").ByDate.Reverse -}}
            <li>
              <time datetime="{{ .Date.Format "2006-01-02 MST" }}">{{ .Date.Format "02/01/2006"}}</time>
              #{{ .Params.num }}: <a target="_blank" href="{{ .Params.link }}">{{ .Title }}</a>
            </li>
            {{- end }}
          </ol>
        </section>
      </div>

    </article>

{{ partial "bottom.html" . }}
