<!DOCTYPE html>
<html lang="it-IT">
<head>
    <title>Visualizzatore SINFI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

    <!-- <script src="http://calvinmetcalf.github.io/leaflet.shapefile/catiline.js"></script> -->
    <script src="https://unpkg.com/shpjs@3.4.3/dist/shp.js"></script>

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #map {
            width: 100%;
            height: 100%;
        }

        .overlay {
            padding: 5px;
            background: #fff;
        }

        label {
            display: block;
        }

        label#colors {
            padding: 5px 0;
        }
    </style>
</head>

<body>
    <div id="map"></div>

    <script>
        var colors = ['#1f78b4', '#b2df8a', '#33a02c', '#fb9a99', '#e31a1c', '#fdbf6f', '#ff7f00', '#cab2d6', '#6a3d9a', '#ffff99', '#b15928'];
        var colorMappings = {};
        var colorsEnabled = false;
        var disabledLayers = {};

        // https://stackoverflow.com/a/7616484/1633924
        String.prototype.hashCode = function () {
            var hash = 0, i, chr;
            if (this.length === 0) return hash;
            for (i = 0; i < this.length; i++) {
                chr = this.charCodeAt(i);
                hash = ((hash << 5) - hash) + chr;
                hash |= 0; // Convert to 32bit integer
            }
            return hash;
        };

        function assignColor(s) {
            if (!colorsEnabled) {
                return colors[0];
            }

            if (!s) { // no path type
                return '#000000';
            }

            if (colorMappings[s]) {
                return colorMappings[s];
            }
            else {
                colorMappings[s] = colors[Math.abs(s.hashCode() % 11)];
            }
        }

        var InputControl = L.Control.extend({
            options: {
                position: 'topleft'
            },
            onAdd: (map) => {
                var el = L.DomUtil.create('div', 'overlay');
                el.innerHTML += '<input type="file" id="file" onchange="onFileChange(this.files)" accept=".zip" /><br>';
                el.innerHTML += '<label id="colors"><input type="checkbox" onchange="toggleColors(this.checked)" />Colori tipo tratta</label>';
                el.innerHTML += '<div id="layers"></div>';
                return el;
            }
        });

        var map = L.map('map').setView([43, 11], 6);
        map.zoomControl.setPosition('topright');
        new InputControl().addTo(map);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 20
        }).addTo(map);

        function onFileChange(files) {
            if (files.length == 0) return;
            handleZipFile(files[0]);
        }

        function toggleColors(val) {
            colorsEnabled = val;
            reloadMap();
        }

        function toggleLayer(layer, checked) {
            if (!checked) {
                disabledLayers[layer] = true;
            }
            else {
                disabledLayers[layer] = false;
            }

            reloadMap();
        }

        function handleZipFile(file) {
            var reader = new FileReader();
            reader.onload = function () {
                if (reader.readyState != 2 || reader.error) {
                    return;
                } else {
                    loadBuffer(reader.result);
                }
            };
            reader.readAsArrayBuffer(file);
        }

        var features;
        var geojson;

        var options = {
            onEachFeature: function (feature, layer) {
                if (feature.properties) {
                    layer.bindPopup(Object.keys(feature.properties).map(function (k) {
                        return k + ": " + feature.properties[k];
                    }).join("<br />"), {
                        maxHeight: 200
                    });
                }

                layer.on({
                    mouseover: function (e) {
                        e.target.setStyle({
                            color: '#ff3300',
                            fillOpacity: 0.7,
                            weight: 15,
                            opacity: 0.7
                        });
                    },
                    mouseout: function (e) {
                        e.target.setStyle({
                            weight: 3,
                            opacity: 1.0,
                            fillOpacity: 0.7,
                            color: assignColor(feature.properties['TIPO'])
                        })
                    }
                })
            },
            style: function (feature) {
                return {
                    fillOpacity: 0.7,
                    weight: 3,
                    color: assignColor(feature.properties['TIPO'])
                }
            }
        };

        function loadBuffer(buffer) {
            shp(buffer).then((data) => {
                geojson = data;

                var enabledLayers = 0;
                geojson.forEach(l => {
                    // disable if missing data
                    if (!l['features'][0]['properties']['TIPO']) {
                        toggleLayer(l.fileName, false);
                    }
                    else {
                        enabledLayers++;
                    }
                });

                if (enabledLayers == 0) {
                    // re-enable all layers if nothing was enabled
                    disabledLayers = {};
                }

                reloadMap();

                map.fitBounds(features.getBounds());
                
                var html = '';

                geojson.forEach(l => {
                    var fn = l.fileName.substring(l.fileName.indexOf('/') + 1);
                    html += '<label><input name="layers" ' + (disabledLayers[l.fileName] ? '' : 'checked') +' type="checkbox" value="' + l.fileName +'" onchange="toggleLayer(this.value, this.checked)" /> ' + fn + '</label>';
                });

                document.getElementById('layers').innerHTML = html;
            }).catch(err => {
                alert('Si è verificato un errore. L\'errore è stato registrato nella console per sviluppatori');
                console.log(err);
            });
        }

        function reloadMap() {
            if (features) features.remove();
            features = L.geoJson(geojson.filter(x => disabledLayers[x.fileName] != true), options).addTo(map);
        }
    </script>
</body>

</html>
