<!DOCTYPE html>
<html lang="it-IT">
<head>
    <title>Visualizzatore SINFI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css" rel="stylesheet" />

    <script src="https://unpkg.com/shpjs@3.5.0/dist/shp.js"></script>

    {{ with .Site.Params.Analytics -}}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ . }}');
        gtag('config', '{{ . }}', { 'anonymize_ip': true });
    </script>
    {{- end }}

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #map {
            width: 100%;
            height: 100%;
        }

        .overlay {
            padding: 5px;
            background: #fff;
            position: absolute;
            top: 10px;
            left: 10px;
            font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
        }

        #file {
            display: none;
        }

        .overlay a {
            float: right;
            padding: 3px 5px 0 5px;
        }

        label {
            display: block;
        }

        #satelliteLabel {
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <div id="map"></div>

    <div class="overlay" style="position: absolute">
        <button onclick="document.getElementById('file').click()">Seleziona ZIP</button>
        <span id="fileName"></span><input type="file" id="file" onchange="onFileChange(this.files)" accept=".zip" />
        <a href="/bul-sinfi/" target="_blank">Guida</a>

        <label id="satelliteLabel">
            <input id="satelliteCheckbox" type="checkbox" onchange="toggleSatellite(this.checked)" /> Satellite
        </label>

        <div id="layers"></div>
    </div>

    <script>
        var geojson;
        let hovered;
        let styles = [
            'mapbox://styles/matteocontrini/ckbjwv9ac07gi1imsbknmhrdt', // outdoors
            'mapbox://styles/matteocontrini/ckbjwz0gj01jq1ip8130yqd24', // satellite
        ];

        mapboxgl.accessToken = 'pk.eyJ1IjoibWF0dGVvY29udHJpbmkiLCJhIjoiY2tianAxM3dmMHB3bTJxczc4NWpnYmpsaiJ9.hAL3fT--AvIr7vqWmgVU6Q';

        let map = new mapboxgl.Map({
            container: 'map',
            style: styles[0],
            center: [11, 43],
            zoom: 5,
            minZoom: 5
        });
        
        map.addControl(new mapboxgl.NavigationControl(), 'top-right');
        
        map.on('style.load', () => {
            reloadMap();   
        });
        
        document.getElementById('satelliteCheckbox').checked = false;

        function toggleSatellite(flag) {
            map.setStyle(flag ? styles[1] : styles[0]);
            reloadMap();
        }

        function onFileChange(files) {
            if (files.length == 0) return;
            let file = files[0];
            document.getElementById('fileName').textContent = file.name;
            handleZipFile(file);
        }

        function toggleLayer(layerId, checked) {
            if (!checked) {
                console.log('Hiding ' + layerId);
                map.setLayoutProperty(layerId, 'visibility', 'none');
            }
            else {
                console.log('Showing ' + layerId);
                map.setLayoutProperty(layerId, 'visibility', 'visible');
            }
        }

        function handleZipFile(file) {
            let reader = new FileReader();

            reader.onload = () => {
                if (reader.readyState == 2 && !reader.error) {
                    loadBuffer(reader.result);
                }
            };

            reader.readAsArrayBuffer(file);
        }

        function loadBuffer(buffer) {
            shp(buffer).then((data) => {
                geojson = data;
                if (!Array.isArray(geojson)) geojson = [geojson];

                // Get rid of the useless META layer
                geojson = geojson.filter(x => !x.fileName.endsWith('/META'));
                
                for (let i = 0; i < geojson.length; i++) {
                    geojson[i].id = 'infratel/' + (i+1);
                }

                reloadMap();

                boundingBox = getBoundingBox(geojson);
                console.log('Setting bounding box: ', boundingBox);
                map.fitBounds([[boundingBox.xMin, boundingBox.yMin], [boundingBox.xMax, boundingBox.yMax]], { padding: 50 });
                
                let html = '';

                geojson.forEach(l => {
                    let fn = l.fileName.substring(l.fileName.indexOf('/') + 1);
                    html += '<label><input name="layers" checked type="checkbox" value="' + l.id +'" onchange="toggleLayer(this.value, this.checked)" /> ' + fn + '</label>';
                });

                document.getElementById('layers').innerHTML = html;
            }).catch(err => {
                alert('Si è verificato un errore. L\'errore è stato registrato nella console per sviluppatori');
                console.error(err);
            });
        }

        function reloadMap() {
            if (!geojson) {
                return;
            }

            map.getStyle().layers.forEach((layer) => {
                if (layer.id.startsWith('infratel')) {
                    console.log('Removing ' + layer.id);
                    map.removeLayer(layer.id);
                    map.removeSource(layer.source);
                    map.off('click', layer.id, onClick);
                    map.off('mousemove', layer.id, onMouseMove);
                    map.off('mouseleave', layer.id, onMouseLeave);
                }
            });
            
            geojson.forEach((layer) => {
                console.log('Adding ' + layer.id + ' (' + layer.fileName + ')');

                map.addSource(layer.id, {
                    type: 'geojson',
                    data: layer,
                    generateId: true
                });

                map.addLayer({
                    'id': layer.id,
                    'type': 'line',
                    'source': layer.id,
                    'layout': {
                        'line-cap': 'round',
                        'line-join': 'round'
                    },
                    'paint': {
                        'line-color': [
                            'case',
                            ['boolean', ['feature-state', 'hover'], false],
                            '#ff3300', // hover
                            '#4285F4' // normal
                        ],
                        'line-width': [
                            'case',
                            ['boolean', ['feature-state', 'hover'], false],
                            10,
                            3
                        ],
                        'line-opacity': [
                            'case',
                            ['boolean', ['feature-state', 'hover'], false],
                            0.7,
                            1
                        ]
                    }
                });

                map.on('click', layer.id, onClick);
                map.on('mousemove', layer.id, onMouseMove);
                map.on('mouseleave', layer.id, onMouseLeave);
            });
        }

        function onClick(e) {
            if (e.features && e.features.length) {
                let f = e.features[0];

                if (f.properties) {
                    console.log('Showing popup ', f);

                    new mapboxgl.Popup()
                        .setLngLat(e.lngLat)
                        .setHTML(Object.keys(f.properties).map((k) => {
                            return k + ": " + f.properties[k];
                        }).join("<br>"))
                        .addTo(map);
                }
            }
        }

        function onMouseMove(e) {
            map.getCanvas().style.cursor = 'pointer';

            if (e.features && e.features.length > 0) {
                if (hovered) {
                    deHighlightFeature(hovered);
                }

                highlightFeature(e.features[0]);
            }
        }

        function onMouseLeave() {
            map.getCanvas().style.cursor = '';

            if (hovered) {
                deHighlightFeature(hovered);
            }
        }
        
        function getBoundingBox(geojson) {
            let bounds = {
                xMin: +180,
                xMax: -180,
                yMin: 90,
                yMax: -90
            };

            geojson.forEach(layer => {
                layer.features.forEach(feature => {
                    feature.geometry.coordinates.forEach(coord => {
                        let longitude = coord[0];
                        let latitude = coord[1];
                        bounds.xMin = bounds.xMin < longitude ? bounds.xMin : longitude;
                        bounds.xMax = bounds.xMax > longitude ? bounds.xMax : longitude;
                        bounds.yMin = bounds.yMin < latitude ? bounds.yMin : latitude;
                        bounds.yMax = bounds.yMax > latitude ? bounds.yMax : latitude;
                    });
                });
            });

            return bounds;
        }

        function highlightFeature(f) {
            console.log('Highlighting ', f);

            hovered = f;

            map.setFeatureState(
                { source: f.layer.source, id: f.id },
                { hover: true }
            );
        }

        function deHighlightFeature(f) {
            console.log('Removing highlight ', f);

            map.setFeatureState(
                { source: hovered.layer.source, id: hovered.id },
                { hover: false }
            );

            hovered = null;
        }
    </script>
</body>

</html>
