table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  text-align: left;
  margin-bottom: 1rem;
}

th {
  font-weight: bold;
  border: 1px solid #cccccc;
  padding: 8px;
}

td {
  border: 1px solid #cccccc;
  padding: 8px;
}

tr:hover {
  background-color: #eeeeee;
}

tr {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

th, td {
  border: none;
}
