$black: #303030;
$gray: #686868;
$gray2: #7f7f7f;
$gray3: #e5e5e5;
$gray4: #eeeeee;
$white: #fbfbfb;
$fc: #43c160;
$light-fc: #daf3df;
$azure: #209cee;
$light-azure: #def0fd;
$yellow: #edc43c;
$light-yellow: #f5ecce;
$highlight: #a4e3b0;

$title: 'Montserrat', sans-serif;
$body: 'Work Sans', sans-serif;
$fs-small: 0.875rem;
$fs: 1rem;
$fs-large: 1.125rem;
$std-margin: 0 0 1rem;
$break-small: 768px;
$break-menu: 900px;
$break-propaganda: 980px;
